:root {
  --background-color: #2f3437;
  --color-letter: #23b5b5;
  --color-letter2: #ebebeb;
  --color-letter3: #919596;
  --color-menu: #272b2d;
  --color-shadow: rgb(192, 109, 13);
  --color-hover: #c8eded;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-letter);
  text-decoration: none;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Quicksand", sans-serif;
  color: var(--color-letter2);
  user-select: none;
}

html {
  font-size: 15px;
  min-width: 350px;
}

/*-------------------------menu-------------------------------*/
#menu-pipa {
  opacity: 0;
}

.hamburger {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: inherit;
  position: absolute;
  top: 0;
  visibility: visible;
  z-index: 1;
}

.menu__btn {
  visibility: visible;
  position: fixed;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 26px;
  left: 20px;
  top: 20px;
  height: 26px;
  z-index: 1;
  box-shadow: 0px 5px 0px 6px var(--color-menu),
    0px 5px 0px 8px var(--color-letter);
  background-color: var(--color-menu);
}

.span1,
.span2,
.span3 {
  position: absolute;
  width: inherit;
  height: 2px;
  content: "";
  transition-duration: 0.25s;
  z-index: 1;
  background-color: var(--color-letter);
  box-shadow: 0 0 3px var(--color-letter);
}

.education p {
  padding: 0rem 0 0.5rem 1.9rem;
}

.mnu {
  visibility: hidden;
}

.mnu-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31px;
  margin-left: 0px;
  margin-top: -33px;
  background-color: transparent;
}

.span6 {
  line-height: 28px;
}

.menu__btn:hover>.mnu-container {
  visibility: visible;
}

.menu__box {

  width: inherit;
  position: fixed;
  top: 0;
  background-color: transparent;
  visibility: visible;
  transition-duration: 0.1s;
}


.menu__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition-duration: 0.1s;
  background-color: var(--color-menu);
  opacity: 0;
  visibility: hidden;
}

.menu__item a {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu__item:hover {
  text-shadow: 2px 2px 5px var(--color-hover);
  background-color: rgb(90, 131, 119);
  transition: 0.5s;
}

.menu__item:hover a {
  color: black;
}

.span1 {
  top: 9px;
}

.span2 {
  top: 17px;
}

.span3 {
  top: 25px;
}

/*-------------hamburger-menu-animation------------------------*/
#menu-pipa:checked~.menu__btn>.span1 {
  transform: rotate(45deg);
  top: 18px;
}

#menu-pipa:checked~.menu__btn>.span2 {
  transform: rotate(45deg);
  top: 18px;
}

#menu-pipa:checked~.menu__btn>.span3 {
  transform: rotate(135deg);
  top: 18px;
}

#menu-pipa:checked~.menu__box>.menu__item {
  opacity: 1;
  transition-duration: .6s;
  z-index: 10;
  visibility: visible;
}

/* --------------------------header-------------------- */

.container-header {
  background-color: transparent;
  display: flex;
  background-image: linear-gradient(to bottom,
      rgba(9, 20, 2, 0),
      rgba(0, 0, 0, 1)),
    url("./images/laptop_resized.jpg");
  background-repeat: no-repeat;
  background-size: 100% 150%;
  height: 34vw;
  width: 100%;
  max-height: 34vw;
}

.header-navigation {
  width: 100%;
  height: 1rem;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* -----------------------------általános----------------------------------- */
h4 {
  display: inline-block;
  text-decoration: none;
}

.CV {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-letter);
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.349);
  font-weight: 500;
  gap: 0.3rem;
  white-space: nowrap;
}

.CV:hover {
  color: var(--color-hover);
}

.container {
  padding: 1rem 6rem;
}

.h2s {
  text-transform: uppercase;
  color: var(--color-letter2);
  letter-spacing: 0.3rem;
  font-weight: 200;
  padding: 4rem 0 0.5rem 0;
  border-bottom: 1px solid var(--color-letter);
}

.phy img {
  transform: scale(1.16);
}

.skills img {
  width: auto;
  height: 4rem;
  color: #23b5b5;
}

p {
  padding: 1rem 0 1rem 0;
}

/* ---------------------career------------------------------------------- */
.container-career {
  padding: 1rem 0 1rem 0;
}

.career p,
.education p {
  padding: 0rem 0 0.5rem 2.2rem;
}

/* ---------------------tanulmányok------------------------------------------- */
.fa-graduation-cap {
  height: auto;
}

.container-edu {
  margin-top: 1rem;
}

.education img,
.career img {
  height: 21px;
  vertical-align: top;
  margin: 0 0.5rem 0 0;
}

/* ---------------------skills------------------------------------------- */
.skills>h4 {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

.portfolio-list {
  padding-top: 1rem;
  list-style: none;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 50% 50%;
  row-gap: 2rem;
  column-gap: 1rem;
}

.portfolio-item a {
  height: auto;
}

.techno-icons {
  display: flex;
  justify-content: center;
  padding: 0 0 0.6rem 0;
}

.techno-icons>img {
  margin-bottom: 1px solid var(--color-letter);
  height: 2rem;
  margin: 0.2rem;
}

.portfolio-item a img {
  width: 100%;
  height: 32vw;
  max-height: 400px;
  /* problem */
}

.portfolio-item>div>h4 {
  color: var(--color-letter);
  border-bottom: 1px solid var(--color-letter);
  display: flex;
  justify-content: center;
  padding: 0 0 0.4rem 0;
  letter-spacing: 0.3rem;
  margin: 1rem 1rem;
}

.portfolio-item>div>h5 {
  color: var(--color-letter);
  display: flex;
  justify-content: center;
  letter-spacing: 0.1rem;
  margin: -12px 1rem 10px 1rem;
}


.foto img {
  opacity: 0.8;
  width: 20vw;
  height: 15vw;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.foto {
  z-index: 1;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-info-my>h2 {
  text-transform: uppercase;
  color: whitesmoke;
  letter-spacing: 1.07rem;
  font-weight: lighter;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h2:nth-child(2) {
  font-weight: bolder;
  letter-spacing: 1.5rem;
}

main h1 {
  display: inline-block;
  width: auto;
  color: var(--color-letter);
  font-size: 1.3rem;
  background-color: var(--color-menu);
  padding: 0.5rem 0.7rem;
  margin: 0.7rem 0;
}

.portfolio-item {
  border: 1px solid var(--color-letter);
}

.container-skills {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 4rem;
}

/* -------------------angle-up------------------------- */

.angle-up {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  display: block;
  height: 2rem;
  width: 2rem;
  /* box-shadow: 2px 3px 7px rgb(35, 181, 181, 0.5); */
  border: 2px solid var(--color-letter);
  border-radius: 20px;
  z-index: 100;
}

.angle-up:hover {
  transform: scale(1.3);
}

/* -------------------contacts------------------------- */

form {
  width: 100%;
  max-width: 27rem;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
}

.h2s {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.submit.submit {
  margin: 0.5rem;
  height: 2rem;
  width: 5rem;
  font-weight: 500;
  cursor: pointer;
}

.submit:hover {
  color: black;
  font-weight: 900;
  background-color: var(--color-hover);

}

input[type="submit"],
[type="text"],
[type="email"],
[type="tel"],
::placeholder {
  color: black;
  font-weight: 500;
  border-radius: 5px;
  width: 100%;
}

[type="text"],
[type="email"] {
  padding-left: 5px;
}



.field>* {
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.field input {
  height: 2rem;
  margin: 0.2rem 0;
  background-color: var(--color-letter);
  border-radius: 5px;
  color: black;
  font-size: 1rem;
}

textarea {
  padding-left: 5px;
  overflow: hidden;
  width: 100%;
  height: 175px;
  margin: 0.2rem 0;
  background-color: var(--color-letter);
  border-radius: 5px;
  color: black;
  font-size: 1rem;
}



.fab {
  color: var(--color-letter);
  background-color: transparent;
}

.fab:hover {
  color: var(--color-letter);
  transform: scale(1.5);
}

/* ------------------------footer---------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: 0.7rem;
  padding: 0;
  color: var(--color-letter);
}

.social-links {
  border: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0 0 1rem 0;
  font-size: 2rem;
  background-color: transparent;
}

.social-links li {
  margin: 0 10px 0 10px;
  background-color: transparent;
}

.blind a {
  color: var(--color-menu);
}

.blind {
  height: 5rem;
}

@media screen and (max-width : 576px) {
  .container {
    padding: 1rem 2rem;
  }

  .portfolio-item a img {
    height: 52vw;

  }

  .portfolio-list {
    grid-template-columns: auto;
    row-gap: 2rem;
  }

}

@media screen and (min-width: 768px) {

  /* --------------------------menu-------------------- */
  html {
    font-size: 18px;
  }

  .blind {
    width: 20rem;
  }

  #menu-pipa {
    opacity: 0;
  }

  .hamburger {

    position: fixed;
    display: inline-block;
    visibility: visible;
    z-index: 1;

  }

  .menu__btn {
    visibility: visible;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 20px;
  }

  .span1,
  .span2,
  .span3 {
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    transition-duration: 0.25s;
    z-index: 1;
    background-color: var(--color-letter);
  }

  .education p {
    padding: 0rem 0 0.5rem 1.9rem;
  }

  .mnu {
    font-size: 35px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--color-letter);
    font-weight: 600;
    background-color: transparent;
  }

  .mnu-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31px;
    margin-left: 0px;
    margin-top: -33px;
    background-color: transparent;
  }

  .span6 {
    line-height: 28px;
  }

  .menu__btn:hover>.mnu-container {
    visibility: visible;
  }

  .menu__box {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    transition-duration: 0.1s;
  }

  .menu__item {

    padding: 12px 8px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    transition-duration: 0.1s;
    background-color: var(--color-menu);
    opacity: 0;
    padding: 0px 8px 0 8px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  /*--------------menu-animation------------------------*/
  .menu__item:hover a {
    text-shadow: 2px 2px 5px var(--color-letter);

  }

  .menu__box,
  .menu__box :after,
  .menu__box :before {
    transition: all 0.5s;
  }

  nav ul li :hover {
    color: #555;
  }

  .menu__box li {
    position: relative;
  }

  .menu__box li :after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    content: ".";
    color: transparent;
    background: #aaa;
    height: 1px;
  }

  .menu__box li {
    transition: all 1s;
  }

  .menu__box li :after {
    text-align: left;
    content: ".";
    margin: 0;
    opacity: 0;
  }

  .menu__box li :hover {
    color: var(--color-menu);
    z-index: 1;
  }

  .menu__box li :hover:after {
    z-index: -10;
    animation: fill 0.5s forwards;
    -webkit-animation: fill 0.5s forwards;
    -moz-animation: fill 0.5s forwards;
    opacity: 1;
  }

  @keyframes fill {
    10% {
      width: 0%;
      height: 2px;
    }

    50% {
      width: 100%;
      height: 10px;
    }

    100% {
      width: 100%;
      height: 100%;
      background: var(--color-letter);
    }
  }

  #menu-pipa:checked~.menu__btn>.span1 {
    transform: rotate(45deg);
    top: 18px;
  }

  #menu-pipa:checked~.menu__btn>.span2 {
    transform: rotate(45deg);
  }

  #menu-pipa:checked~.menu__btn>.span3 {
    transform: rotate(135deg);
    top: 18px;
  }

  #menu-pipa:checked~.menu__box>.menu__item {
    opacity: 1;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--color-letter);
  }



  /* --------------------------------------------------------------------------------------------------- */
  body {
    display: grid;
    grid-template-areas:
      "leftmenu"
      "header "
      " main "
      " footer";
    grid-template-columns: auto;
  }

  .container-header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  .header-navigation {
    z-index: 10;
    display: inline-block;
    grid-area: leftmenu;

  }

  .footer {
    grid-area: footer;
  }

  .footer>nav {
    display: inline-block;
    position: fixed;
    bottom: 100px;
    left: 10px;
    color: var(--color-letter);
    z-index: 10;
    background-color: transparent;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: transparent;
    font-size: 1.5rem;
  }

  main {
    display: grid;
    grid-template-areas:
      " info  "
      " skills "
      " portfolio"
      " career "
      " education"
      " contact "
      " footer";
    grid-template-columns: auto;
  }

  .section-info-my {
    margin: 15px;
  }

  .section-info {
    display: flex;
  }

  .section-contact {
    grid-area: contact;
  }

  .section-portfolio {
    grid-area: portfolio;
  }

  .section-skills {
    grid-area: skills;
  }

  .section-info {
    grid-area: info;
  }

  .education {
    grid-area: education;
  }

  .career {
    grid-area: career;
  }
}

@media screen and (min-width: 992px) {
  main {
    display: grid;
    grid-template-areas:
      " info  "
      " skills "
      " portfolio"
      " career "
      " education"
      " contact "
      " footer";
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    padding: 1rem 6rem;
    max-width: 1200px;
  }

  #footer {
    max-width: none;
  }

  .container-header {
    background-size: 100% 150%;
    height: calc(100vh/2);
    max-height: 500px;
  }
}